{% extends 'base.html' %}
{% load static %}
{% load resume_filters %}
<title>{% block title %}Contact Information{% endblock %}</title>
{% block content %}
    <div class="section-block">
        <h1>Contact Information</h1>
            <p><strong>Address:</strong> {{ personal_info.contact_address }}</p>
            <p><strong>Phone:</strong> {{ personal_info.contact_phone }}</p>
            <p><strong>Email:</strong> <a href="mailto:{{ personal_info.email }}">{{ personal_info.email }}</a></p>
            <p><strong>Target employment:</strong> {{ personal_info.target_employment }}</p>
    </div>
{% endblock %}