{% extends 'base.html' %}
{% load static %}
{% load resume_filters %}
{% block content %}
    <h1>Professional Skills</h1>
    <div class="skills-container">
        <div class="skills-category_development">
            <h2>Development Skills</h2>
            {% for category, skill_names in development_skills.items %}
                <div class="skill-subcategory_development">
                    <h3>{{ category }}</h3>
                    <ul class="skills-list">
                        {% for skill in skill_names %}
                            <li class="skill-item">
                                <p>{{ skill.name }}</p>
                                <div class="progress-bar-container">
                                    <div class="progress-bar" style="width: {{ skill.progress_percent }}%;">
                                        {{ skill.progress }}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>

        <div class="skills-category-graphic">
            <h2>Graphic Design Skills</h2>
            {% for category, skill_names in graphic_design_skills.items %}
                <div class="skill-subcategory_graphic">
                    <h3>{{ category }}</h3> {# Display the subcategory name #}
                    <ul class="skills-list">
                        {% for skill in skill_names %} {# Now skill is the actual skill object #}
                            <li class="skill-item">
                                <p>{{ skill.name }}</p>
                                <div class="progress-bar-container">
                                    <div class="progress-bar graphic-design" style="width: {{ skill.progress_percent }}%;">
                                        {{ skill.progress }}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}