.language-section {
    margin-bottom: 20px;
}
.language-section h2 {
    text-align: left;
    color: #ADD8E6;
}
.language-block {
    margin-bottom: 15px;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    border: 1px solid #555;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    color: #E0E0E0;
}

.language-block h3 {
    text-align: left;
    margin-bottom: 5px;
    color: #ADD8E6;
}
.language-block ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.language-block li {
    background-color: #555555;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
    border: 1px solid #666;
    color: #E0E0E0;
}