.section-block {
    margin-bottom: 25px;
    padding: 15px 20px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid #555;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    color: #E0E0E0;
}

.section-block:last-child {
    margin-bottom: 0;
}

.section-block h3,
.section-block p,
.section-block ul,
.section-block li,
.section-block span,
.section-block strong,
.section-block em {
    text-align: left;
    color: antiquewhite;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.9);
}

.job-title, .degree-title {
    font-weight: bold;
    margin-bottom: 5px;
    color: #ADD8E6;
}
.company, .institution-name {
    font-style: italic;
    margin-bottom: 3px;
    color: #B0B0B0;
}
.duration {
    font-size: 0.9em;
    color: #C0C0C0;
    margin-bottom: 10px;
}

.portfolio-list {
    list-style: none;
    padding: 0;
}
.portfolio-list li {/
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 15px;
    border-radius: 8px;
    border: 1px solid #555;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    color: #F5DEB3;
}
.portfolio-list li strong {
    color: #F5DEB3;
}
.portfolio-list li a {
    color: #ADD8E6;
}